@use "../abstracts" as *;

.contact__holder {
  &.hide .form-holder {
    display: none;
  }

  .show-contact-us {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    inset-inline-end: 60px;
    width: 50px;
    height: 50px;
      font-size: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 27px rgb(0 0 0 / 12%);
    border: none;
    border-radius: var(--radius);
    overflow: hidden;
    &:hover {
      color: var(--blue-clr-100);
    }
  }

  .form-holder {
    position: fixed;
    z-index: 25;
    bottom: 75px;
    inset-inline-end: 60px;
    width: min(280px, 90%);
    box-shadow: 0 5px 70px 0 rgb(38 42 76 / 10%);
    background-color: #fff;
    border-radius: var(--radius);
    padding: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #fff;
      bottom: -12px;
      inset-inline-end: 12px;
    }

    .close-contact-us {
      position: absolute;
      z-index: 2;
      top: 0;
      inset-inline-end: 0;
      width: 30px;
      height: 30px;
      border: 0;
      border-top-right-radius: var(--radius);
      color: #fff;
      background-color: var(--accent-clr-400);

      [dir="rtl"] & {
        border-top-right-radius: 0;
        border-top-left-radius: var(--radius);
      }
    }

    .form-title {
      font-size: 1.2rem;
      margin-bottom: 10px;
      margin-top: 0.5rem;
      text-transform: capitalize;
      color: #494949;
    }

    p.form-desc {
      font-size: 12px;
      margin-bottom: 10px;
      color: #777;
    }

    form {
      .form-group {
        position: relative;
        margin-bottom: 7px;

        .form-control {
          color: var(--gray-clr-400);
          font-size: 0.8rem;
          border: 1px solid #eee;
          border-radius: var(--radius);
          transition: none;

          &.phone-input {
            padding: 0;
            padding-inline-start: 50px;
          }

          &::placeholder {
            color: #777;
            font-weight: 300;
          }

          &:focus {
            box-shadow: none;
          }
        }

        button.site-btn {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

// custom style for intl tel input plugin
.iti {
  width: 100% !important;
}

.iti__flag-container {
  inset-inline-start: 0 !important;
  right: auto !important;
  left: auto !important;
}

.iti__selected-flag {
  padding: 0 !important;
  padding-inline-start: 0.75rem !important;
  padding-inline-end: 5px !important;
}

.iti__arrow {
  margin-left: 0 !important;
  margin-inline-start: 6px !important;
}

ul.iti__country-list {
  text-align: start !important;
  width: 250px !important;
  white-space: normal !important;
}

li.iti__country {
  font-size: 12px !important;
}

.iti__country-name,
.iti__dial-code {
  color: var(--blue-clr-400) !important;
}

.iti__flag-box,
.iti__country-name {
  margin: 0 !important;
  margin-inline-end: 6px !important;
}
