@use "../abstracts" as *;

header.main-header {
  position: relative;
  z-index: 20;
  background-color: #fff;
  border-bottom: 1px solid var(--border-clr);

  .inner-menu {
    @include breakpoint(max, 991.98px) {
      display: none;
    }

    &:not(.middle-menu) {
      li.nav-item {
        border-inline-end: 1px solid var(--border-clr);
        &:first-child {
          border-inline-start: 1px solid var(--border-clr);
        }
        transition: color 0.3s;
        &:hover,
        &.active {
          background-color: #f7f7f7;
          // color: var(--blue-clr-100);
        }
      }
    }

    &.main-menu {
      li.nav-item {
        border-bottom: 5px solid;
        &:nth-child(1) {
          border-bottom-color: var(--secondary-clr-400);
        }
        &:nth-child(2) {
          border-bottom-color: var(--secondary-clr-300);
        }
        &:nth-child(3) {
          border-bottom-color: var(--secondary-clr-200);
        }
        &:nth-child(4) {
          border-bottom-color: var(--secondary-clr-100);
        }
        &:nth-child(5) {
          border-bottom-color: var(--secondary-clr-50);
        }
      }
    }

    li.nav-item {
      text-transform: capitalize;
      font-size: 14px;
      .social-link {
        color: #fff;
        will-change: transform;
        transition: .2s;
        &:hover {
          transform: scale(1.2);
        }
        &.facebook {
          color: #1877f2;
        }
        &.twitter {
          color: #1da1f2;
        }
        &.instagram {
          color: #c13584;
        }
        &.linkedin {
          color: #0077b5;
        }
        &.youtube {
          color: #ff0000;
        }
        &.telegram {
          color: #0088cc;
        }
      }
      &.nav-item--middle {
        margin-inline: 1rem;
        font-weight: 300;
        strong {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: 500;
          img {
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .navbar-expand-lg {
    @include breakpoint(min, 992px) {
      border: 1px solid var(--border-clr);
    }
  }

  .navbar-brand {
    position: relative;
    padding: 0;
    margin: 0;
    width: 150px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .navbar-toggler {
    position: relative;
    z-index: 2;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    .line {
      position: relative;
      z-index: 1;
      width: calc(100% - 20px);
      height: 3px;
      margin: auto;
      border-radius: var(--radius);
      background-color: var(--blue-clr-400);
      transition: transform 0.2s ease-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &[aria-expanded="true"] {
      .line1 {
        transform: rotate(-45deg) translate(-4px, 4px);
      }

      .line2 {
        display: none;
      }

      .line3 {
        transform: rotate(45deg) translate(-2px, -2px);
      }
    }
  }

  ul.navbar-nav {
    @include breakpoint(max, 991.98px) {
      background-color: #fff;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  li.dropdown {
    @include breakpoint(min, 992px) {
      &:hover {
        > .dropdown-toggle::after {
          transform: rotateX(-180deg);
        }
        > .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: 0;
      padding: 0;
      margin: 0;

      @include breakpoint(min, 992px) {
        display: block !important;
        box-shadow: 0px 5px 70px 0px rgba(38, 42, 76, 0.1);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
        transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
      }

      a.dropdown-item {
        text-transform: capitalize;
        font-size: 14px;
        &:active,
        &:hover,
        &:focus {
          background-color: transparent;
          color: var(--blue-clr-100);
        }
      }
    }
  }
}
